body{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.array-item {
  margin: 1em;
  border: 1px solid black;
  display: inline-block;
}

.icon {
  max-height: 100%;
  width: 3em;
}
